# OS / Sistema Operacional
.DS_Store
Thumbs.db

# Logs e temporários
*.log
*.pyc
*.swp

# Ferramentas IDE
.idea/
*.iml
*.ipr
*.iws

# VSCode (opcional — deixe fora se quiser compartilhar configs)
# .vscode/

# JetBrains Rider
*.sln.iml

# Flutter / Dart
.dart_tool/
.pub/
.pub-cache/
build/
coverage/
**/doc/api/

# Cache de dependências
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Arquivos gerados automaticamente
generated_plugin_registrant.dart

# iOS
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/build/
**/ios/Runner/GeneratedPluginRegistrant.*

# Android
**/android/.gradle/
**/android/local.properties
**/android/app/build/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# Arquivos de chave/signing
key.properties
*.jks
*.keystore

# Obfuscação e símbolos
app.*.map.json
app.*.symbols

# Outros diretórios indesejados
.atom/
.build/
.history/
.svn/
.swiftpm/
migrate_working_dir/
